<!--<div class="container px-5 px-sm-0">-->
  <!--<div class="row">-->
    <!--<div class="col-lg-3">-->
      <h2>User info</h2>
      <%= image_tag user.get_profile_image(70,70) %>
      <table class="table">
        <tbody>
          <tr>
            <th>name</th>
            <th><%= user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <%# if user == current_user %>
      <button type="button" class="btn btn-outline-secondary w-100">
        <%= link_to edit_user_path(user.id), class: "nav-link" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </button>
      <%# end %>
    <!--</div>-->
  <!--</div>-->
<!--</div>-->