<h1>welcome to <strong>Bookers</strong> !!</h1>

<p>In Bookers,</p>
<P>you can share and exchange your opinions,inpressions,and emotions</p>
<p>about various books!</p>

<!--sign in(log in)は会員がする-->
<%= link_to "Log in", new_user_session_path %>
<!--sign upは新規登録のこと-->
<%= link_to "Sign up", new_user_registration_path %>